<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zdominguez.sdksandbox">

    <application
        android:name=".SdkSandboxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sandbox">
        <activity android:name=".SpannableStringsActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResourceAnnotationsActivity"
            android:label="Annotations"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinearLayoutActivity"
            android:label="LinearLayoutDemo"></activity>
        <activity
            android:name=".RecyclerViewViewStubs"
            android:label="RecyclerView + ViewStubs"></activity>
        <activity
            android:name=".DataBindingSpans"
            android:label="DataBinding + Spans"></activity>
        <activity
            android:name=".ConstraintLayoutDemo"
            android:label="Constraint Layout" />
        <activity
            android:name=".ReadableTextActivity"
            android:label="Readable Text" />
        <activity android:name=".bottomsheet.BottomSheetShare" />
        <activity
            android:name=".bottomsheet.CustomShareActivity"
            android:label="Choose Me!" />
        <activity
            android:name=".ConstraintLayoutDemoKt"
            android:label="Constraint Groups" />
    </application>

</manifest>